# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
dist/index.html
dist/vite.svg
dist/assets/index-CpEdLxDu.css
dist/assets/IT-CF-Justin_AACR2025_poster-250304-4-010_1-B6CYaHHP.png
